<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}<title>Look for a ride</title>{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    {% load static %}
    <link rel= "stylesheet" href="{% static 'css/stylesheetHTML.css' %}" >
  </head>

  <body>

              <div class="cover-container">

                    <div class="masthead clearfix">
                      <div class="inner">
                        <h3 class="masthead-brand">InfoTrack</h3>
                        <nav class="nav nav-masthead">
                          <a class="nav-link active" href='/InfoTrack'>Home</a>
                          {% if user.is_authenticated %}
                                <a class="nav-link" href="/InfoTrack/profile/">User:  {{ user.get_username }}</a>
                                <a class="nav-link" href="/InfoTrack/logout">LOGOUT</a>
                          {% else %}
                          <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">LOGIN</a>
                          {% endif %}

                        </nav>
                      </div>
                    </div>

              <div class="jumbotron">
                <h1 class="display-1" id = "a">{% block a %}{% endblock %}</h1>
                <p class="font-weight-bold" id = 'b'>{% block b %}{% endblock %} </p>
                <div><a class="btn btn-lg btn-secondary" href="{% url 'add_post'%}" role="button">Post  </a> <a class="btn pull-right btn-lg btn-secondary" href="#" role="button">Find More </a></div>
              </div>

              <h2 class="text-left">Recent posts:</h2>
              <a class="btn btn-lg btn-secondary" href="{% url 'post_list'%}" role="button"> See More </a>

              <div class="row marketing">

                <div class="col-lg-6">
                  <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active list-group-item-secondary">
                      {% block content %}

                        {% endblock %}
                      </a>
                      <a href="ride_temp.html" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" id = 'c1'>{% block c1 %}{% endblock %}</h5>
                            <small class="text-muted">just now</small>
                          </div>
                          <p class="mb-1" id='c2'>{% block c2 %}{% endblock %}</p>
                          <p class="mb-1" id='c3'>{% block c3 %}{% endblock %}</p>
                          <small class="text-muted">read more</small>
                      </a>
                      <a href="ride_temp.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1" id='d1'>{% block d1 %}{% endblock %}</h5>
                          <small class="text-muted">{{ post.published_date }}</small>
                        </div>
                        <p class="mb-1" id='d2'>{% block d2 %}{% endblock %}</p>
                        <p class="mb-1" id='d3'>{% block d3 %}{% endblock %}</p>
                        <small class="text-muted">read more</small>
                      </a>
                    </div>
                </div>


                <div class="col-lg-6">
                <div class="list-group">
                  <a href="ride_temp.html" class="list-group-item list-group-item-action flex-column align-items-start active list-group-item-secondary">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" id='e1'>{% block e1 %}{% endblock %}</h5>
                      <small>3 days ago</small>
                    </div>
                    <p class="mb-1" id='e2'>{% block e2 %}{% endblock %} </p>
                    <p class="mb-1" id='e3'>{% block e3 %}{% endblock %} </p>
                    <small class="text-muted">read more</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" id='f1'>{% block f1 %}{% endblock %}</h5>
                      <small class="text-muted" id ='f2'>{% block f2 %}{% endblock %}</small>
                    </div>
                    <p class="mb-1" id='f3'>{% block f3 %}{% endblock %} </p>
                    <p class="mb-1" id='f4'>{% block f4 %}{% endblock %} </p>
                    <small class="text-muted">read more</small>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1" id='g1'>{% block g1 %}{% endblock %}</h5>
                      <small class="text-muted" id='g2'>{% block g2 %}{% endblock %}</small>
                    </div>
                    <p class="mb-1" id='g3'>{% block g3 %}{% endblock %} </p>
                    <p class="mb-1" id='g4'>{% block g4 %}{% endblock %}</p>
                    <small class="text-muted">read more</small>
                  </a>
                </div>
                </div>
              </div>



              <footer class="footer">
                <p>&copy; By ShootA</p>
              </footer>


  </div>  <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>
</html>
