{% extends "base_generic.html" %}

{% block title %}<title>PrivateTutor</title>{% endblock %}

{%block a%}Make study easy!{%endblock %} 
{% block b%}Find your favorite tutor.{% endblock %}

{% block c1%}<p><strong>Post Title:</strong> {{ post_title }}</p>{% endblock %}
{% block c2%}<p><strong>Post Time:</strong> {{ post_time }}</p>{% endblock %}
{% block c3%}<p><strong>Post detail:</strong> {{ post_context }}</p>{% endblock %}
{% block c4%}{% endblock %}

{% block d1%}<p><strong>Post Title:</strong> {{ post_title }}</p>{% endblock %}
{% block d2%}<p><strong>Post Time:</strong> {{ post_time }}</p>{% endblock %}
{% block d3%}<p><strong>Post detail:</strong> {{ post_context }}</p>{% endblock %}
{% block d4%}{% endblock %}

{% block e1%}<p><strong>Post Title:</strong> {{ post_title }}</p>{% endblock %}
{% block e2%}<p><strong>Post Time:</strong> {{ post_time }}</p>{% endblock %}
{% block e3%}<p><strong>Post detail:</strong> {{ post_context }}</p>{% endblock %}
{% block e4%}{% endblock %}

{% block f1%}<p><strong>Post Title:</strong> {{ post_title }}</p>{% endblock %}
{% block f2%}<p><strong>Post Time:</strong> {{ post_time }}</p>{% endblock %}
{% block f3%}<p><strong>Post detail:</strong> {{ post_context }}</p>{% endblock %}
{% block f4%}{% endblock %}

{% block g1%}<p><strong>Post Title:</strong> {{ post_title }}</p>{% endblock %}
{% block g2%}<p><strong>Post Time:</strong> {{ post_time }}</p>{% endblock %}
{% block g3%}<p><strong>Post detail:</strong> {{ post_context }}</p>{% endblock %}
{% block g4%}{% endblock %}


{% block content %}
<ul>
  <p><strong>Post Title:</strong> {{ post_title }}</p>
  <p><strong>Post Time:</strong> {{ post_time }}</p>
  <p><strong>Post detail:</strong> {{ post_context }}</p>
</ul>  
{% endblock %}
